<div class="container container-box">
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p-button styleClass="p-button-secondary" label="Back" icon="pi pi-arrow-circle-left" (click)="onBack()">
            </p-button>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 view-container">
            <div class="post">
                <img src="{{ post?.image }}" alt="" class="image">
                <div class="date">
                    <i class="far fa-clock"></i>
                    <span>{{ post?.updatedAt | date: 'short' }}</span>
                </div>
                <h3 class="title">
                    {{ post?.title }}
                </h3>
                <div class="text">
                    <div>
                        <div [innerHTML]="post?.description">
                        </div>
                    </div>
                    <!-- {{ post?.description }} -->
                </div>
                <div class="links">
                    <a href="#" class="user">
                        <i class="far fa-user"></i>
                        <span>by {{post?.username}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row mt-5" *ngIf="user.username === post?.username">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p-button styleClass="full-btn" label="Edit Post" (onClick)="editPost(post.id)"></p-button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>