.container-box {
  margin-top: 10rem;
}
.container-box .posts-container .post {
  width: 100%;
  padding: 1rem;
  background: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.container-box .posts-container .post .image {
  height: 40rem;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
.container-box .posts-container .post .date {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: var(--orange);
}
.container-box .posts-container .post a {
  text-decoration: none;
  color: var(--black);
}
.container-box .posts-container .post a:hover {
  color: var(--orange);
}
.container-box .posts-container .post .title {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color: var(--black);
}
.container-box .posts-container .post .text {
  line-height: 1.6;
}
.container-box .posts-container .links {
  border-top: var(--border);
  margin-top: 0.5rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
}
.container-box .posts-container .links .user {
  margin-right: auto;
  text-decoration: none;
}
.container-box .posts-container .links .icon {
  padding-right: 1rem;
}
.container-box .posts-container .links a {
  font-size: 1.5rem;
  color: var(--lighter-color);
}
.container-box .posts-container .links a i {
  padding-right: 0.2rem;
  color: var(--black);
}
.container-box .posts-container .links a:hover {
  color: var(--orange);
}
.container-box .posts-container .links a:hover i {
  color: var(--orange);
}
.container-box .box-sidebar .box {
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
  background: #fff;
  margin-bottom: 1.5rem;
}
.container-box .box-sidebar .box .link {
  color: red;
}
.container-box .box-sidebar .box .title {
  padding: 1.5rem;
  font-size: 2rem;
  color: #fff;
  background: var(--black);
  text-transform: capitalize;
}
.container-box .box-sidebar .box .category {
  padding: 1rem 1.5rem;
}
.container-box .box-sidebar .box .category a {
  padding: 0.4rem 0;
  font-size: 1.5rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.container-box .box-sidebar .box .category a span {
  background: var(--lighter-color);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.container-box .box-sidebar .box .category a:hover {
  color: var(--orange);
}
.container-box .box-sidebar .box .category a:hover span {
  background: var(--orange);
}
